<!DOCTYPE html>
<html lang="en">
<head>

<title>Library</title>


<meta charset="UTF-8">

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/magnific-popup.css">

<link rel="stylesheet" href="css/owl.theme.css">
<link rel="stylesheet" href="css/owl.carousel.css">

<!-- MAIN CSS -->
<link rel="stylesheet" href="css/tooplate-style.css">

</head>
<body>


<!-- MENU -->
<div class="navbar custom-navbar navbar-fixed-top" role="navigation"> 
     <div class="container">

               <a href="index.html" class="navbar-brand">Efficientlearning</a>
           </div> 

          <!-- MENU LINKS -->
          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home" class="smoothScroll">Home</a></li>
                    <li><a href="http://localhost:9000/" class="smoothScroll">Borrow Books</a></li>
                    <li><a href="C:/Users/NEERAJA%20N/Desktop/wt/maths/index.html" class="smoothScroll">Maths</a></li>  
                    <li><a href="C:/Users/NEERAJA%20N/Desktop/wt/archi/index.html" class="smoothScroll">Architecture</a></li>
					<li><a href="C:/Users/NEERAJA%20N/Desktop/wt/novel/index.html" class="smoothScroll">Novels</a></li>
          <li><a href="C:/Users/NEERAJA%20N/Desktop/wt/science/index.html" class="smoothScroll">Science</a></li>
           <li><a href="#contact" class="smoothScroll">Contact us</a></li>
           <li><a href="#about" class="smoothScroll">About us</a></li>
          
           <li><a href="http://localhost:3000/" class="smoothScroll">Signup</a></li>

          
          
               </ul>
          </div>

     </div>
</div>


<!-- HOME -->
<section id="home" class="parallax-section">
     <div class="overlay"></div>
     <div class="container">
          <div class="row">

               <div class="col-md-8 col-sm-12">
                    <div class="home-text">
                         <h1>Online Library</h1>
                         <p>Study,learn,live</p>
                         <ul class="section-btn">
                              <a href="#about" class="smoothScroll"><span data-hover="Discover More">Explore Library</span></a>
                         </ul>
                    </div>
               </div>

          </div>
     </div>

     <!-- Video -->
     <video controls="" autoplay="" loop="" muted>
          <source src="videos/video.mp4" type="video/mp4">
          Your browser does not support the video tag.
     </video>
</section>


<!-- ABOUT -->
<section id="about" class="parallax-section">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="about-info">
                         <h3>Efficient learning </h3>
                         <h1>Welcome to our online library where you can borrow books,read online</h1>
                    </div>
               </div>

          </div>
     </div>
</section>

 
<!-- CONTACT -->
<section id="contact" class="parallax-section">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-3 col-md-6 col-sm-12">
                    <div class="section-title">
                         <h1>Talk to us!</h1>
                    </div>
               </div>

               <div class="clearfix"></div>

               <div class="col-md-offset-2 col-md-8 col-sm-12">
                    <!-- CONTACT FORM HERE -->
                    <form id="contact-form" action="#" method="get" role="form">

                         <!-- IF MAIL SENT SUCCESSFULLY -->
                         <h6 class="text-success">Your message has been sent successfully. </h6>
                         
                         <!-- IF MAIL SENDING UNSUCCESSFULL -->
                         <h6 class="text-danger">E-mail must be valid and message must be longer than 1 character.</h6>

                         <div class="col-md-6 col-sm-6">
                              <input type="text" class="form-control" id="cf-name" name="cf-name" placeholder="Name">
                         </div>

                         <div class="col-md-6 col-sm-6">
                              <input type="email" class="form-control" id="cf-email" name="cf-email" placeholder="Email Address">
                         </div>

                         <div class="col-md-12 col-sm-12">
                              <input type="text" class="form-control" id="cf-subject" name="subject" placeholder="Subject">
                              <textarea class="form-control" rows="5" id="cf-message" name="cf-message" placeholder="Message"></textarea>
                         </div>

                         <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4">
                              <div class="section-btn">
                                   <button type="submit" class="form-control" id="cf-submit" name="submit"><span data-hover="Send Message">Send Message</span></button>
                              </div>
                         </div>
                    </form>
               </div>

          </div>
     </div>
</section>

<script src="js/jquery.parallax.js"></script>
<script src="js/custom.js"></script>

</body>
</html>